<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379395372529-q029c6atdglq59o66edu7lnncie2mt71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379395372529-q029c6atdglq59o66edu7lnncie2mt71</string>
	<key>API_KEY</key>
	<string>AIzaSyCQzMdGMLD1jMvtkNFtXQ1DFQ01wA_9nnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>379395372529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tapiwakundi.Finetic</string>
	<key>PROJECT_ID</key>
	<string>finetic-36645</string>
	<key>STORAGE_BUCKET</key>
	<string>finetic-36645.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379395372529:ios:3e869ce958a9aa12cc8050</string>
</dict>
</plist>